html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: helvetica;
	margin:  0;
}

#murders {
	display: flex;
	flex-wrap: wrap;
}

.murder {
	
	padding: 10px;
	flex: 0 0 25%;
	height: 220px;
}

.murder .inner {
	height: 100%;
	padding: 10px;
	border: 1px solid #000;	
}

.victim {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
	
}

.date {
	color: red;
}